body{
	margin: 0px;
	background-image: url("images/brushed.png");
	font-family: 'Montserrat', sans-serif;
	background: rgba(226,226,226,1);
	background-color: #fff;
}

body > header {
	line-height: 70px;
	top: 0px;
	left: 0px;
	right: 0px;
	position: absolute;
	z-index: 2;
	height: 70px;
	background-color: rgba(255, 255, 255,0.5);
}

body > header > nav{
	max-width: 1200px;
	margin: auto;
	padding: 0 10px;
}

header > a:hover{
	background-color: #666;
}

#menu{
	margin: 0px;
	padding: 0px;
	float: right;
}

#menu-btn{
	display: none;
}

#menu > li{
	float: left;
	list-style: none;
}

#menu > li > a{
	display: block;
	color: #000;
	padding: 0 20px;
	text-decoration: none;
	transition: 1s all;
}

#logo{
	font-size: 28px;
	color: #000;
	font-style: bold;
	text-decoration: none;
	float: left;
	margin-top: 0px;
	font-family: 'Rock Salt', cursive;
}

.dropbtn {
    background-color: #fff;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
		background-color: rgba(0, 0, 0, 0);
}

.dropdown {
    position: relative;
		float: left;
		display: block;
		padding: 0 10px;
		text-decoration: none;
}

.dropdown-content {
    height: 0px;
    position: absolute;
		overflow: hidden;;
		background-color: #fff;
    min-width: 160px;
    z-index: 1;
		transition: 0.5s all;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
		font-size: 15px;
}

.dropdown-content a:hover {
	background-color: #cce7ff;
	transition: all 0.7;
}

.dropdown:hover .dropdown-content {
    height: 270px;
}

#search-box{
	height: 30px;
	margin-top: 10px;
	margin-left: 20px;
	border: 0px;
	border-radius: 5px;
	width: 150px;
	padding-left: 10px;
	transition: 0.5s all;
}

#search-box.active{
	width: 250px;
}

#slide{
	width: 100%;
	background-position: center;
	overflow: hidden;
	padding-bottom: 50px;
	padding-top: 0px;
	background-size: 1300px;
}

#jumbo{
	width: 100%;
	height: 133px;
	background-position: center;
	background-image: url("bilder/bild2.jpg");
	overflow: hidden;
	padding-bottom: 100px;
	padding-top: 500px;
	background-size: 1300px;
}

#jumbo > article{
	width: 50%;
	padding: 20px;
	border-radius: 10px;
	margin: -350px auto 80px auto;
	background-color: rgba(255, 255, 255, 0.7);
	text-align: center;
}

#jumbo > article > h1 {
	font-size: 38px;
	color: #333333;
	margin-top: 2%;
	margin-bottom: 50px;
}


#information > section{
	width: 100%;
	height: 200px;
	background-color: rgba(109, 111, 125, 0.68);
	margin: auto;
	margin-bottom: 20px;
	margin-top: 20px;
}

#information > section > p {
	float: left;
	display: block;
	width: 200px;
	margin-top: 80px;
	margin-left: -175px;
	margin-bottom: 40px;
	color: #0E9EE1;
	font-family: 'Josefin Slab', serif;
	font-size: 21px;
}

#information > section > h2{
	float: left;
	width: 170px;
	display: block;
	margin-left: 60px;
	color: #0E9EE1;
	font-size: 22px;
	margin-top: 40px;
}

#jumbo > article > p {
	padding: 30px;
}

#jumbo > article > h1 {
	margin-bottom: -20px;
}

body > footer{
	background-color: #000;
	box-shadow: 0 0 50px #666;
	clear: both;
	color: #eee;
	overflow: hidden;
  text-align: center;
	padding-top: 50px;
	height: 250px;
	font-size: 18px;
}

body > footer > article{
	max-width: 1200px;
	margin: auto;
	padding: 10px;
}

body > footer > article  > section{
	width: calc(100%/3);
	float: left;
	margin: 0px;
	text-decoration: underline;
}

body > footer > article  > section a{
	color: #fff;
	text-decoration: none;
}

body > footer > article > section > ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	}

#text1 {
	height: 300px;
	margin: 30px;
}

#form {
	line-height: 50px;
}

#comment {
	line-height: 20px;
	width: 450px;
	height: 180px;
	border-radius: 3px;
	font-size: 13px;
}

#name {
	font-size: 13px;
}

#email {
	font-size: 13px;
}

#knapp {
	font-size: 100%;
}

html,body {
	margin: 0;
	padding: 0;
}
.slider {
	width: 1024px;
}

.slider-wrapper {
	width: 1280px;
	height: 650px;
	position: relative;
}

.slide {
	float: left;
	position: absolute;
	width: 100%;
	height: 700px;
	opacity: 0;
	transition: opacity 2s linear;
}

.slider-wrapper > .slide:first-child {
	opacity: 1;
}

#countries{
	max-width: 1200px;
	margin: 0 auto 50px auto;
	margin-top: 25px;
	overflow: hidden;
}

#countries > h1 {
	text-align: center;
	font-size: 35px;
}

#countries > figure{
	width: 23%;
	height: 280px;
	margin: 1%;
	float: left;
	background-color: #fff;
	box-shadow: 0 0 5px #999;
	overflow: hidden;
	border-radius: 80%;
}

#countries > figure  > img{
	width: 400px;
	height: 280px;
	margin-left: -55px;
}

#AboutUs > h2{
	float: left;
	display: block;
	width: 210px;
	margin-left: 95px;
	margin-top: -25px;
	margin-bottom: 80px;
}

@media screen and (max-width: 600px){

#menu{
		position: fixed;
		top: 49px;
		left: 0px;
		right: 0px;
		max-height: 0px;
		overflow: hidden;
		background-color: #000;
		box-shadow: 0 5px 5px #666;
		transition: 3s all;
	}

	#jumbo{
		width: 100%;
		background-position: center;
		overflow: hidden;
		padding-top: 500px;
	}

	#menu.show{
		max-height: 300px;
	}

	#menu > li{
		width: 100%;
		float: none;
	}

	#search-box, #search-box.active{
		width: 90%;
		margin: 10px 5%;
	}

	#menu-btn{
		display: block;
		float: right;
		color: black;
		text-decoration: none;
		padding: 0 10px;
		font-size: 20px;
		border-bottom: 4px solid #666;
	}

	#jumbo > article > h1 {
		font-size: 20px;
		padding-bottom: 2%;
	}

	#jumbo > article{
		width: 100%;
		padding: 10px 0px;
		margin-top: -300px;
		border-radius: 0px;
		font-size: 15px;
	}
#countries {
	margin-top: -20px;
}
	#countries  > h2{
		text-align: center;
	}

#countries > figure{
		width: 100%;
		margin-left: 0px;
		margin-right: 0px;
	}

	body > footer > article > section{
		width: 100%;
		text-align: center;
	}

	body > footer > article > section > ul{
		list-style-type: none;
		margin: 0px;
		padding: 0px;
	}

}
