<footer>
  <article>
    <section id="links">
      <h4>Links</h4>
      <ul>
        <li><a href="homepage.html">Home</a></li>
        <li><a href="austria.html">Austria</a></li>
        <li><a href="france.html">France</a></li>
        <li><a href="italy.html">Italy</a></li>
        <li><a href="switzerland.html">Switzerland</a></li>
      </ul>
    </section>
    <section>
      <h4>Official links</h4>
      <ul>
        <li><a href="https://www.freeride.se/">Freeride</a></li>
        <li><a href="https://armadaskis.com/eu/">Armada</a></li>
        <li><a href="https://www.voelkl.com/">Völkl</a></li>
        <li><a href="https://www.atomic.com/en-se">Atomic</a></li>
      </ul>
    </section>
    <section>
      <h4>Contact</h4>
      <ul>
          <li><a href="contact.html">Mail</a></li>
          <li><a href="#">About us</a></li>
    </section>
  </article>
</footer>

</body>
</html>
