<!DOCTYPE HTML>
<html>
	<head>
		<title>Start your trips with us</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/css/main.css">
	</head>
	<body>

			<header id="header">
				<div class="logo"><a href="index"> Mountain Genius</a></div>
				<a href="#menu"><span>Menu</span></a>
			</header>

			<nav id="menu">
				<ul class="links">
					<li><a href="index">Home</a></li>
					<h4>Österrike</h4>
					<li><a href="mayrhofen">Mayrhofen</a></li>
					<li><a href="stanton">St. Anton</a></li>
					<li><a href="ischgl">Ischgl</a></li>
					<h4>Frankrike</h4>
					<li><a href="chamonix">Chamonix</a></li>
					<li><a href="alpedhuez">Alpe d'Huez</a></li>
					<li><a href="valthorens">Val Thorens</a></li>
					<h4>Italien</h4>
					<li><a href="champoluc">Champoluc</a></li>
					<li><a href="sestriere">Sestriere</a></li>
					<li><a href="canazei">Canazei</a></li>
					<h4>Schweiz</h4>
					<li><a href="disentis">Disentis</a></li>
					<li><a href="davos">Davos</a></li>
					<li><a href="engelberg">Engelberg</a></li>
				</ul>
			</nav>

			<section id="banner" class="bg-img" data-bg="banner.jpg">
				<div class="inner">
					<header>
						<h1>Join our adventure</h1>
					</header>
				</div>
				<a href="#one" class="more">Learn More</a>
			</section>
