<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Exempelsida</title>
		<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet">
		<link href="homepage.css" type="text/css" rel="stylesheet">
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='homepage.css') }}">
		<script type="text/javascript" src="{{ url_for('static', filename = 'homepage.js') }}"></script>

		<script src="homepage.js"></script>
	</head>
	<body>

		<header>
			<nav>
				<a href="homepage.html" id="logo">Mountain Genius</a>
				<ul id="menu">
					<li><a href="homepage.html" class="active">Home</a></li>

					<div class="dropdown">
  					<button class="dropbtn">Austria</button>
  						<div class="dropdown-content">
    						<a href="stAnton">St Anton</a>
    						<a href="#">Ischgl</a>
    						<a href="#">Mayrhofen</a>
  						</div>
					</div>

					<div class="dropdown">
						<button class="dropbtn">France</button>
							<div class="dropdown-content">
								<a href="chamonix">Chamonix</a>
								<a href="#">Alpe d'Huez</a>
								<a href="#">Val Thorens</a>
							</div>
					</div>

					<div class="dropdown">
						<button class="dropbtn">Italy</button>
							<div class="dropdown-content">
								<a href="#">Champoluc</a>
								<a href="#">Sestriere</a>
								<a href="#">Canazei</a>
							</div>
					</div>

					<div class="dropdown">
						<button class="dropbtn">Switzerland</button>
							<div class="dropdown-content">
								<a href="#">Disentis</a>
								<a href="#">Davos</a>
								<a href="#">Engelberg</a>
							</div>
					</div>

					<li><a href="contact.html">Contact</a></li>

					<li>
						<input type="search" name="query" id="search-box" placeholder="Search here...">
					</li>

				</ul>
				<a href="#" id="menu-btn">Meny</a>
			</nav>
		</header>
