{% include '__header_till_alla_orter.html' %}

<section id="banner" class="bg-img" data-bg="banner.jpg">
	<div class="inner">
		<header>
			<h1>Alpe d'Huez</h1>
		</header>
	</div>
	<a href="#one" class="more">Read More</a>
</section>

			<section id="post" class="wrapper bg-img" data-bg="banner15.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Alpe d'Huez</h2>
              <p>Frankrike</p>
						</header>
						<div class="content">
							<p>
								Alpe d’Huez är en ort som bland vanligt folk kanske inte primärt är känt för skidåkning.
                Orten fick äran att anordna bob-tävlingarna under vinter-OS i Grenoble 1968 och den är ett
                regelbundet stopp under bergsetapperna i Tour de France. Detta innebär dock inte på något
                sätt att skidåkningen är något annat än bästa klass, faktum är att det krävdes att flertalet
                av de numera gigantiska franska megaorterna skulle utveckla sin verksamhet innan Alpe d’Huez
                inte längre ansågs vara Frankrikes självklart bästa skidort.
							</p>
              <p>
                Ett testamente till att skidåkningen inte är så pjåkig är bland annat att Alpe d’Huez huserar
                världens längsta svarta pist, Sarenne som är 16 km lång. Toppen som pisten startar från, Pic Blanc,
                är ortens högsta punkt och känt för att erbjuda otaliga alternativ på långa offpiståk. Alpe d’Huez
                har också ett väldigt väl utvecklat konstsnösystem, så även snöfattiga år är orten ett säkert resmål!
							</p>
						</div>
						<footer>
							<ul class="actions">
								<li><a href="chamonix" class="button alt icon fa-chevron-left"><span class="label">Previous</span></a></li>
								<li><a href="valthorens" class="button alt icon fa-chevron-right"><span class="label">Next</span></a></li>
							</ul>
						</footer>
					</article>
				</div>
			</section>

{% include '__footer.html' %}
