
{% include '__header.html' %}

		<!-- Content -->
		<!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->
			<section id="post" class="wrapper bg-img" MountainGenius/image="banner3.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Canazei</h2>
							<p>Italien</p>
						</header>
						<div class="content">
							<p>
								Canazei i italienska Dolomiterna ligger i landets nordöstra delar.
								Orten hör till det enorma och ihopsatta skidsystemet Dolomiti Super Ski som
								består av tiotals dalar och över 400 liftar. Det är också en av startpunkterna i
								rundturen Sella Ronda.

								Liftsystemet är uppbyggt som en cirkel runt Sella Ronda och tar cirka fem timmar att åka runt.

								Här finns det mycket lättillgänglig off pist och den lilla byn har allt man kan behöva.
								Många danska turister åker hit men det finns åkning så att det räcker till alla.
							</p>
							<p>
								Eftersom det ligger i Italien är både maten och kaffet superbt och välsmakande.
								Dock kan du här hitta inslag av österrikisk matkultur vilket inte behöver vara negativt.
								Schnitzel och skidåkning passar utmärkt ihop.

								Själva uppger dom att solen skiner åtta dagar av tio möjliga vilket inte säger så lite.
								Solsäkert var namnet.

								Området är familjevänligt med många backar i den blå-gröna skalan..
					    </p>
						<footer>
							<ul class="actions">
								<li><a href="#" class="button alt icon fa-chevron-left"><span class="label">Previous</span></a></li>
								<li><a href="#" class="button alt icon fa-chevron-right"><span class="label">Next</span></a></li>
							</ul>
						</footer>
					</article>
				</div>
			</section>

{% include '__footer.html' %}
