{% include '__header_till_alla_orter.html' %}

<section id="banner" class="bg-img" data-bg="banner.jpg">
	<div class="inner">
		<header>
			<h1>Chamonix</h1>
		</header>
	</div>
	<a href="#one" class="more">Read More</a>
</section>

			<section id="post" class="wrapper bg-img" data-bg="banner17.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Chamonix</h2>
              <p>Frankrike</p>
						</header>
						<div class="content">
							<p>
								Extremskidåkningens födelseort Chamonix erbjuder det största och mesta när
								det kommer till skidåkning. Varje centimeter av berget och byn andas historia
								och hit åker du om du är intresserad av brantåkning. Legenderna som har bosatt
								sig under Mont Blanc - alpernas högsta berg - är många.
              </p>
              <p>
								Dessvärre är det även många som har förolyckats på bergens extrema branter.

								Orten består av fem skidorter som är: Grands Montets, Les Houches, Le Tour/Balme,
								La Flegere och Le Brevent.

								År 2010 hade kommunen Chamonix-Mont-Blanc 9 054 invånare men många fler rör sig
								dagligen i orten. Chamonix har fler besökare under sommaren än vintern med omkring
								100 000 per dag under sommaren och 60 000 per dag under vintern.

								De första olympiska vinterspelen gick av stapeln här 1924
							</p>
              <p>
                Chamonix ligger i sydöstra Frankrike endast 20 minuters bilfärd från Italien under
								Mont Blanctunneln. Du har nära till både Geneve och Milano härifrån och restiden till
								flygplatsen i Geneve är en timme då det bara är drygt åtta mil bort.
							</p>
						</div>
						<footer>
							<ul class="actions">
								<li><a href="ischgl" class="button alt icon fa-chevron-left"><span class="label">Previous</span></a></li>
								<li><a href="alpedhuez" class="button alt icon fa-chevron-right"><span class="label">Next</span></a></li>
							</ul>
						</footer>
					</article>
				</div>
			</section>

{% include '__footer.html' %}
