{% include '__header.html' %}

		  <div id="jumbo">
		    <article>
					<h1>
						Chamonix
					</h1>
					<p>
						Extremskidåkningens födelseort Chamonix erbjuder det största och mesta när det kommer till skidåkning.
						Varje centimeter av berget och byn andas historia och hit åker du om du är intresserad av brantåkning.
						Legenderna som har bosatt sig under Mont Blanc - alpernas högsta berg - är många.
						Dessvärre är det även många som har förolyckats på bergens extrema branter.
						Orten består av fem skidorter som är: Grands Montets, Les Houches, Le Tour/Balme, La Flegere och Le Brevent.

						År 2010 hade kommunen Chamonix-Mont-Blanc 9 054 invånare men många fler rör sig dagligen i orten.
						Chamonix har fler besökare under sommaren än vintern med omkring 100 000 per dag under sommaren och 60 000 per dag under vintern.
						De första olympiska vinterspelen gick av stapeln här 1924.
						Chamonix ligger i sydöstra Frankrike endast 20 minuters bilfärd från Italien under Mont Blanctunneln.
						Du har nära till både Geneve och Milano härifrån och restiden till flygplatsen i Geneve är en timme då det bara är drygt åtta mil bort.
					</p>
				</article>
		  </div>

{% include '__footer.html' %}
