
{% include '__header_till_alla_orter.html' %}

<section id="banner" class="bg-img" data-bg="banner.jpg">
	<div class="inner">
		<header>
			<h1>Champoluc</h1>
		</header>
	</div>
	<a href="#one" class="more">Read More</a>
</section>

			<section id="post" class="wrapper bg-img" data-bg="banner13.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Champoluc</h2>
							<p>Italien</p>
						</header>
						<div class="content">
							<p>
					     Detta är ett av världens största skidområden. Det du inte hittar här finns inte.
               I Champoluc fokuseras det mest på åkningen, och mest seriösa skidåkare kommer hit.
               Självklart har de bra restauranger och After Ski, framför allt puben Golosone där hela
               byns befolkning brukar samlas, men fokus är på de många avancerade backarna. Här finns det
               över 200 kilometer pister, med en största fallhöjd på 1350 meter. De flesta backarna är av
               det svårare slaget så detta passar dig med erfarenhet.
							</p>
							<p>
					      Vill man åka offpist så är det möjligt att hyra en helikopter som tar dig upp till ett
                område som heter Cole De Lis där de duktigaste skidåkarna samlas för att tävla mot varann
                och ha roligt. Vill du få ut det mesta av din skidåkning så är detta definitivt rätt ort att
                besöka.
					    </p>
						<footer>
							<ul class="actions">
								<li><a href="valthorens" class="button alt icon fa-chevron-left"><span class="label">Previous</span></a></li>
								<li><a href="sestriere" class="button alt icon fa-chevron-right"><span class="label">Next</span></a></li>
							</ul>
						</footer>
					</article>
				</div>
			</section>

{% include '__footer.html' %}
