{% include '__header.html' %}

  <div id="jumbo">
    <article>
      <h1>Contact us!</h1>
         <p>If you have any commenst or questions, please contact us below.</p>
          <form id="form" action="mailto:mountaingenius17@gmail.com" method="post" enctype="text/plain">
                <label for="name">Name:</label>
                <input type="name" name="name" id="name" required><br>

                <label for="email">E-mail:</label>
                <input type="email" name="email" id="email" required><br>

                <textarea name="textarea" id="comment" rows="3" cols="30"> </textarea><br>
                <input type="submit" id="knapp" value="Send">
          </form>
    </article>
  </div>

  <div>
      <article id="countries">
        <h1>We are Mountain Genius</h1>
        <figure>
          <img src="bilder/elinFN.jpg" alt="Austria">
        </figure>
        <figure>
          <img id="elinrossander" src="bilder/elinRossander.jpg" alt="France">
        </figure>
        <figure>
          <img src="bilder/ellinor.jpg" alt="Italy">
        </figure>
        <figure>
          <img src="bilder/mustafa.jpg" alt="Switzerland">
        </figure>
      </article>
  </div>

    <div id="AboutUs">
      <h2>
          Elin F. Nielsen
      </h2>
      <h2>
          Elin Rossander
      </h2>
      <h2>
        Ellinor Mavéus
      </h2>
      <h2>
        Mustafa Riyadh
      </h2>
    </div>

  </div>

{% include '__footer.html' %}
