{% include '__header.html' %}

		<!-- Content -->
		<!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->
			<section id="post" class="wrapper bg-img" MountainGenius/image="banner3.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Davos</h2>
							<p>Schweiz</p>
						</header>
						<div class="content">
							<p>
					    	Tillsammans med grannbyn Klosters erbjuder Davos sex olika skidsektioner,
								Parsenn, Jakobshorn,Pischa, Madrisam rinerhorn och Schatzalp-Strela. Tillsammans
								bildar dessa ett skidsystem som ger 320 kilometer pist och 59 liftar.
							</p>
							<p>
					    	Gillar du offpist är det helt klart Pischa som gäller och med eller utan guide kommer du
								hitta några riktiga guld-åk. Här finns det gulmarkerade skidområden som betyder att pistörer
								kollar lavinsäkerhet och spränger när det krävs. Varje liten dalgång har tillgång till bussar
								så du behöver heller inte vara orolig att du inte kan ta dig tillbaka hem.
							</p>
							<p>
								Davos har i flera år satsat på sin terrainpark där välshapade kickar och en stor
								halfpipe står till allas befogenhet.
					    </p>
						<footer>
							<ul class="actions">
								<li><a href="#" class="button alt icon fa-chevron-left"><span class="label">Previous</span></a></li>
								<li><a href="#" class="button alt icon fa-chevron-right"><span class="label">Next</span></a></li>
							</ul>
						</footer>
					</article>
				</div>
			</section>

{% include '__footer.html' %}
