{% include '__header_till_alla_orter.html' %}

<section id="banner" class="bg-img" data-bg="banner.jpg">
	<div class="inner">
		<header>
			<h1>Disentis</h1>
		</header>
	</div>
	<a href="#one" class="more">Read More</a>
</section>

			<section id="post" class="wrapper bg-img" data-bg="banner16.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Disentis</h2>
							<p>Schweiz</p>
						</header>
						<div class="content">
							<p>
					    	Trött på överfulla skidorter, långa liftköer och tråkiga backar? Vad säger du om en
								skidort där snön kan ligga orörd i flera dagar efter ett fall och där offpisten är
								kittlande bra? Denna plats finns på riktigt och heter Disentis. Gömd i en dalgång mellan
								Oberalp-passet och Chur har Disentis fortfarande inte blivit exploaterad av massturismen.
								Tvärtom kan du förvänta dig snöfyllda backar med utmärkt offpist.
							</p>
							<p>
					    	För dig som gillar behaglig skidåkning finns dessutom långa och breda röda backar.
								För riktigt häftiga offpiståk är det bäst att ta med sig stighudar. Efter cirka 30 minuters
								hajk väntar fina åk. Från toppsläpliften (Lai Alv – Péz Ault) går en enkel tur ett par
								hundra höjdmeter uppmot Péz Ault varifrån du har ett långt åk ner i Val Gronda eller fortsatt
								turande över mot Brunnifirnglaciären och Oberalpstock. Otaliga varianter finns på dessa åk.
								Ett helt annat alternativ är att ta tåget från Disentis mot Andermatt och hoppa av vid Oberalppass,
								varvid du redan på perrongen är på 2 000 meters höjd. Åk finns sedan både i riktning mot Andermatt
								och mot Sedruns liftsystem.
							</p>
							<p>
								På svenskägda Nangijala kan du både sova, äta hemgjorda burgare och fika eller dricka öl.
								Även Sax Lodge drivs och ägs av svenskar. Det senare är mer av ett hotell, det förstnämnda
								enklare standard.
					    </p>
							<p>
								Disentis i Schweiz är på inget sätt en "alpin huvudstad", men ganska välkänt bland initierade
								skidåkare. Dock är det inga horder som tar sig hit (än). Puderåkning, massvis med snö, vackra
								omgivningar och trevliga restauranger väntar dig. Eller varför inte ett besök på lyxskidmärket
								Zais lilla fabrik vid tågstationen i Disentis.
					    </p>
						<footer>
							<ul class="actions">
								<li><a href="canazei" class="button alt icon fa-chevron-left"><span class="label">Previous</span></a></li>
								<li><a href="davos" class="button alt icon fa-chevron-right"><span class="label">Next</span></a></li>
							</ul>
						</footer>
					</article>
				</div>
			</section>

{% include '__footer.html' %}
