
{% include '__header.html' %}

		<!-- Content -->
		<!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->
			<section id="post" class="wrapper bg-img" MountainGenius/image="banner3.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Engelberg</h2>
							<p>Schweiz</p>
						</header>
						<div class="content">
							<p>
								Svensktillhållet Engelberg i centrala Schweiz är ett off pist-mecka med lång säsong
								tack vare glaciären. Varje år kommer hundratals svenska säsongare hit för att åka puder
								och träffa andra svenskar. Det mest kända åket heter Laub och kommer garanterat få det att
								brännas i låren på dig.

								Många av Sveriges främsta friåkare huserar här vintertid och bli inte förvånad om du stöter
								ihop med stora delar av friåkningseliten här. Antingen på berget eller på Ski Lodge Engelberg
								som alltid lockar många svenskar.
							</p>
							<p>
								Den roterande liften Titlis lockar en oerhörd mäng asiater varje dag och vem kan klandra dom.
								Naturen här är storslagen.

								Tittar du runt bortom pisterna kan du hitta många inspelningsplatser från skidfilmer från
								hela världen. Det berömda isfallet som några få har hoppat men så gott som ingen klarat hittar
								du bland annat här. En blå mäktig pjäs du inte gärna vill halka utför. Off piståkning finns annars
								i överflöd här med en stark friåkningskultur vilket gör att det är lätt att hitta till bra åkning
								genom att följa efter de lokala hjältarna.
					    </p>
						<footer>
							<ul class="actions">
								<li><a href="#" class="button alt icon fa-chevron-left"><span class="label">Previous</span></a></li>
								<li><a href="#" class="button alt icon fa-chevron-right"><span class="label">Next</span></a></li>
							</ul>
						</footer>
					</article>
				</div>
			</section>

{% include '__footer.html' %}
