{% include '__header.html' %}

		<div id="slide">
			<div class="slider" id="main-slider">
					<div class="slider-wrapper">
						<img src="static/bilder/hej1.jpg" alt="First" class="slide" />
						<img src="static/bilder/hej2.jpg" alt="Second" class="slide" />
						<img src="static/bilder/hej3.jpg" alt="Third" class="slide" />
						<img src="static/bilder/hej4.jpg" alt="Third" class="slide" />
						<img src="static/bilder/hej5.jpg" alt="Third" class="slide" />
					</div>
			</div>
		</div>

{% include '__footer.html' %}
