{% include '__header.html' %}

			<section id="one" class="wrapper post bg-img" data-bg="banner.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Österrike</h2>
						</header>
						<div class="content">
							<p>Österrike har begåvats med en storslagen natur och magnifika berg
								designade för det vi älskar mest, alpresor och alpin skidåkning. Hela nationen
								är en symbol för vintersport och här finns många skidorter som garanterar något
								för alla. Österrike bjuder på fartfyllda åk, stämningsfull afterski, välpreparerade
								pister och utmaningar för alla typer av skidåkare.

								Det märks att Österrike har många års erfarenhet av alpin skidåkning och skidturism.
								Landet är experter på att tillverka snö och liftsystemen utvecklas ständigt. Olika skidområden
								byggs ihop och blir större för att det ska bli så smidigt och roligt som möjligt på vår
								skidsemester. Här håller allt som rör skidåkning riktigt hög kvalitet samtidigt som du kan
								hitta riktigt prisvärda och billiga resor till Österrike.

								Även om mycket moderniseras så har Österrike lyckats bevara charmen och sina idylliska byar.
								Landet är inte bara välkänt för sina alper utan även för sin gästvänlighet. Gemyt och vänlighet
								gör att många väljer att återvända till någon av de många skidorter som finns i Österrike år efter år.
							</p>
						</div>
						<footer>
							<a href="generic.html" class="button alt">Läs mer</a>
						</footer>
					</article>
				</div>
				<a href="#two" class="more">Reard More</a>
			</section>

			<section id="two" class="wrapper post bg-img" data-bg="banner5.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Frankrike</h2>
						</header>
						<div class="content">
							<p>Terrängen är varierad och det finns såväl nybörjarbackar som offpistmöjligheter i
								mängder. Här finns verkligen något för alla, inte minst några av världens modernaste
								liftsystem. Att Frankrike dessutom är landet som gav världen crème brûlée ger alla
								förutsättningar för en oförglömlig skidresa med en kulinarisk touch.

								Langleys egna resa började i Tignes på 80-talet så det är inte konstigt att vi har en
								speciell anknytning till de franska Alperna. Men oavsett vad man har för anknytning till
								Frankrike kan man inte förneka att de kan skidåkning. Från moderna liftar till
								gourmetrestauranger leverar franska Alperna på alla plan och du kan vara säker på en lyckad
								skidsemester.</p>
						</div>
						<footer>
							<a href="generic.html" class="button alt">Läs mer</a>
						</footer>
					</article>
				</div>
				<a href="#three" class="more">Learn More</a>
			</section>

			<section id="three" class="wrapper post bg-img" data-bg="banner4.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Italien</h2>
						</header>
						<div class="content">
							<p>
								
							</p>
						</div>
						<footer>
							<a href="generic.html" class="button alt">Read More</a>
						</footer>
					</article>
				</div>
				<a href="#four" class="more">Read More</a>
			</section>

			<section id="four" class="wrapper post bg-img" data-bg="banner3.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Switzerland</h2>
						</header>
						<div class="content">
							<p>Scelerisque enim mi curae erat ultricies lobortis donec velit in per cum consectetur purus a enim platea vestibulum lacinia et elit ante scelerisque vestibulum. At urna condimentum sed vulputate a duis in senectus ullamcorper lacus cubilia consectetur odio proin sociosqu a parturient nam ac blandit praesent aptent. Eros dignissim mus mauris a natoque ad suspendisse nulla a urna in tincidunt tristique enim arcu litora scelerisque eros suspendisse.</p>
						</div>
						<footer>
							<a href="generic.html" class="button alt">Read More</a>
						</footer>
					</article>
				</div>
			</section>

{% include '__footer.html' %}
