{% include '__header.html' %}

		<!-- Content -->
		<!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->
			<section id="post" class="wrapper bg-img" MountainGenius/image="banner3.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Ischgl</h2>
              <p>Österrike</p>
						</header>
						<div class="content">
							<p>
                Det är inte omöjligt att Ischgl har världens bästa after ski, som dessutom
                kompletteras med ett mycket aktivt nattliv ända in på morgonkvisten och regelbundna
                live-koncerter. Listan med världsartister som haft show på deras årliga säsongsöppnings-,
                påsk- och säsongsavslutningskoncerter Top of the Mountain Concerts är enorm. Lägg till
                att Ischgl tillhör en av de största skidområdena i hela alperna, för att inte säga världen,
                så är succén ett faktum.
              </p>
              <p>
                Det är förmodligen kombinationen av fantastisk after ski, ordentliga
                berg och skidåkning i världsklass som gjort att Ischgl har blivit en så stor spelare på
                relativt kort tid. Jämfört med andra alporter i samma klass har Ischgl inte haft många år
                på sig att bygga sitt varumärke.
              </p>
              <p>
                Byn i sig är dock ingen “sell-out”, utan har behållit sin klassiska Tirol-stil.
                Det finns dock inslag av moderna konstruktioner i form av liftsystemet och annan
                infrastruktur. Att ha modern infrastruktur i byn är väldigt tacksamt då det inte alltid
                är att föredra att bo längs huvudgatan i en by som är känd för sitt nattliv.
							</p>
						</div>
						<footer>
							<ul class="actions">
								<li><a href="#" class="button alt icon fa-chevron-left"><span class="label">Previous</span></a></li>
								<li><a href="#" class="button alt icon fa-chevron-right"><span class="label">Next</span></a></li>
							</ul>
						</footer>
					</article>
				</div>
			</section>

{% include '__footer.html' %}
