{% include '__header.html' %}

<div id="jumbo">
  <article>
    <h1>
      Ischgl
    </h1>
    <p>

    </p>
  </article>
</div>
<div id="information">
  <section>
    <h2>
    Antal backar
    </h2>
      <p>

      </p>
    <h2>
      Säsong
    </h2>
      <p>

      </p>
    <h2>
      Antal nedfarter
    </h2>
      <p>

      </p>
    <h2>
      Längsta nedfart
    </h2>
      <p>

      </p>
    <h2>
      Högsta topp
    </h2>
      <p>

      </p>
  </section>
</div>

{% include '__footer.html' %}
