{% include '__header.html' %}

<div id="jumbo">
  <article>
    <h1>
      Mayrhofen
    </h1>
    <p>
      Mayrhofen är en av de där orterna som är oförskämt smidigt att ta sig till, transfern från Innsbruck tar inte mer än en timme.
      Väl framme öppnar sig nära 2000 fallhöjdsmeter österrikiska alper upp sig för dig, med en maxhöjd på 2500 meter.
      Bara för att det finns många fallhöjdsmeter är dock inte åken alltid långa. Med sina 39 grader är Harakiri i Mayrhofen österrikes brantaste pistade nedfart.
      Lyckligtvis är skidområdet stort och det finns gott om ställen att åka på för både nybörjare och luttrade alpinister, både i preparerade nedfarter och utanför.

      Mayrhofen är också den största byn som ligger i anslutning till det enda skidområdet i Österrike som är öppet året om, Hintertux.
      Där erbjuds sommaråkning uppe på Hintertux-glaciären, en glaciär som stricker hela vägen upp till 3250 meter.
      För att ta sig dit krävs dock en bussresa, något som inte ska vara något problem då bussarna alltid rullar när Hintertux är öppet.
    </p>
  </article>
</div>
<div id="information">
  <section>
    <h2>
    Antal backar
    </h2>
      <p>

      </p>
    <h2>
      Säsong
    </h2>
      <p>

      </p>
    <h2>
      Antal nedfarter
    </h2>
      <p>

      </p>
    <h2>
      Längsta nedfart
    </h2>
      <p>

      </p>
    <h2>
      Högsta topp
    </h2>
      <p>

      </p>
  </section>
</div>

{% include '__footer.html' %}
