{% include '__header_till_alla_orter.html' %}

<section id="banner" class="bg-img" data-bg="banner.jpg">
	<div class="inner">
		<header>
			<h1>Frankrike</h1>
		</header>
	</div>
	<a href="#one" class="more">Read More</a>
</section>

			<section id="post" class="wrapper bg-img" data-bg="banner17.jpg">
				<div class="inner">
					<article class="box">
						<div class="rubrik">

							<h2>Chamonix</h2>
							<h2>Alpe d'Huez</h2>
							<h2>Val Thorens</h2>

						</div>
					</article>
				</div>
			</section>

{% include '__footer.html' %}
