{% include '__header_till_alla_orter.html' %}

<script src="main.js" type="text/javascript"></script>
<section id="banner" class="bg-img" data-bg="banner.jpg">
	<div class="inner">
		<header>
			<h1>Österrike</h1>
		</header>
	</div>
	<a href="#one" class="more">Read More</a>
</section>

			<section id="post" class="wrapper bg-img" data-bg="banner17.jpg">
				<div class="inner">
					<article class="box">
						<div class="content">

									<h3><a href="ischgl">Ischgl</h3>
									<h3><a href="stanton">St. Anton</h3>
									<h3><a href="mayrhofen">Mayrhofen</h3>

	    						<img src="static/images/banner24.jpg" alt="bild">

									<img src="static/images/banner25.jpg" alt="bild">

									<img src="static/images/banner26.jpg" alt="bild">
							</div>
						</div>
						<footer>
					</article>
				</div>
			</section>

{% include '__footer.html' %}
