
{% include '__header.html' %}

		<!-- Content -->
		<!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->
			<section id="post" class="wrapper bg-img" MountainGenius/image="banner3.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Sestriere</h2>
							<p>Italien</p>
						</header>
						<div class="content">
							<p>
					     Sestriere är den första skidorten som byggdes i Italien och skidorten är minst sagt populär.
							 Sestriere är relativt liten, åtminstone om man jämför med stora skidorter som Madonna di Campiglio
							 och ligger precis vid den franska gränsen. Den snösäkra orten ligger på över 2 000 meters höjd och
							 även om den är liten har faktiskt VM hållits här. Året var 1997. I Sestriere hittar alla ett
							 favoritområde. För dig som föredrar lugn och behaglig skidåkning finns mängder av blå backar.
							 För de djärvare själarna finns brantare pister och offpist.
							</p>
							<p>
					      När det snöat kan du räkna med riktigt grym skogsåkning och vill du testa på backarna som användes
								under OS i Turin kan du bege dig till den sidan av byn. En stor fördel med Sestriere är att skidorten
								ingår i det gigantiska skidområdet Via Lattea, även kallat "Milky Way".
					    </p>
						<footer>
							<ul class="actions">
								<li><a href="#" class="button alt icon fa-chevron-left"><span class="label">Previous</span></a></li>
								<li><a href="#" class="button alt icon fa-chevron-right"><span class="label">Next</span></a></li>
							</ul>
						</footer>
					</article>
				</div>
			</section>

{% include '__footer.html' %}
