{% include '__header_till_alla_orter.html' %}

<section id="banner" class="bg-img" data-bg="banner.jpg">
	<div class="inner">
		<header>
			<h1>St. Anton</h1>
		</header>
	</div>
	<a href="#one" class="more">Read More</a>
</section>

			<section id="post" class="wrapper bg-img" MountainGenius/image="banner3.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>St. Anton</h2>
							<p>Österrike</p>
						</header>
						<div class="content">
							<p>
								När alperna nämns finns det några orter som letar sig in i tankarna oavsett var i världen en råkar vara för tillfället.
								St Anton am Arlberg är en av de orterna. Denna by i Österrike har varit en av pionjärerna för mycket av det vi idag ser som självklart för en skidort.
								Den första skidklubben öppnade 1901, den första skidtävlingen i byn hölls 1904 och redan 1921 öppnade den första skidskolan!
								När Österrike på 30-talet började kännas blassé valde många lokala skidlärare att utvandra till USA för att lära jänkarna åka skidor
								och fortsätta föra sporten framåt i andra delar av världen.
							</p>

							<p>
								Kort och gott, det är en by med långa alpin anor och en framåtanda som heter duga.
								På det sättet har det sedan fortsatt, hela tiden i framkant och alltid det bästa.
								Samtidigt som byn behållit sin gemytlighet är det bara det mest moderna och det bästa som duger åt skidsystemet.
								Idag är skidsystemet även sammankopplat med bland andra St Christoph och Stuben.
							</p>
						</div>
						<footer>
							<ul class="actions">
								<li><a href="#" class="button alt icon fa-chevron-left"><span class="label">Previous</span></a></li>
								<li><a href="#" class="button alt icon fa-chevron-right"><span class="label">Next</span></a></li>
							</ul>
						</footer>
					</article>
				</div>
			</section>

{% include '__footer.html' %}
