{% include '__header_till_alla_orter.html' %}

<section id="banner" class="bg-img" data-bg="banner.jpg">
	<div class="inner">
		<header>
			<h1>Val Thorens</h1>
		</header>
	</div>
	<a href="#one" class="more">Read More</a>
</section>

			<section id="post" class="wrapper bg-img" data-bg="banner6.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Val Thorens</h2>
              <p>Frankrike</p>
						</header>
						<div class="content">
							<p>
								Högt uppe i en kalfjällsgryta på 2300 meters höjd ligger byn som ständigt toppar skojsiga
								listor över “fulast i alperna”. Men döm inte orten efter gråheten - Val Thorens är byggt med
								en enda sak i tankarna - skidturism, och det blev ett bra bygge. Att Valle T, som nollåttorna
								säger, dessutom lever upp till ryktet om att vara Alpernas Ibiza är bara en bonus. Partyt börjar
								i backen strax efter lunch och slutar på Malaysia, alpernas största nattklubb, när andra sätter
								tänderna i frukostbaguetten.
							</p>
              <p>
								Tillsammans med Courchevel, Meribel och Menuires utgör Val Thorens supermegasystemet “Tre Dalarna”
								som skryter med närmare sextio mil pistade nedfarter utspridda över fyra dalar. Med andra ord finns
								det möjligheter att hitta någonting för alla här, oavsett om man är pistsmiskare, puderpundare eller
								parkråtta.
								Val Thorens har bara en odiskutabel nackdel – förutom prydnadsgranarna på snötorget finns det inga träd.
								Alls. Är det flatljus är det lite jobbigt.
							</p>
						</div>
						<footer>
							<ul class="actions">
								<li><a href="#" class="button alt icon fa-chevron-left"><span class="label">Previous</span></a></li>
								<li><a href="#" class="button alt icon fa-chevron-right"><span class="label">Next</span></a></li>
							</ul>
						</footer>
					</article>
				</div>
			</section>

{% include '__footer.html' %}
